# Entering the correct webpage

As we need to click some necessary buttons upon entering the website, I used Selenium. I attached its webdriver in the folder I sent to you. However, it's for Chrome web-browser. If you need Firefox, it's also possible, you can just download it and attach it to this folder.<br>

In [199]:
#!pip install selenium   #Uncomment if you don't have selenium package installed

In [197]:
import requests
import time
import os
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup as bs

In [203]:
cwd = os.getcwd()
PATH = cwd+'\\chromedriver.exe'

In [204]:
driver = webdriver.Chrome(PATH)

driver.get('https://stats.paj.gr.jp/en/pub/index.html')
print(driver.title)
link = driver.find_element_by_link_text('Agree')
link.click()
link = driver.find_element_by_link_text('All Japan')
link.click()   #Entered the correct page

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/2924679570.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

PAJ Oil Statistics Weekly

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/2924679570.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link = driver.find_element_by_link_text('Agree')
C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/2924679570.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link = driver.find_element_by_link_text('All Japan')

In [205]:
url = driver.current_url
print(url)

https://stats.paj.gr.jp/en/pub/current_en_n2.html

In [144]:
r = driver.find_element_by_xpath("/html/body").text
soup = bs(r)
contents = soup.prettify()

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/2033566898.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  r = driver.find_element_by_xpath("/html/body").text

In [12]:
#print(contents)

# Creation of dataframes

Here I used just simple pandas methods to export each dataframe to its own <b>csv</b> file.

## 1.Refinery Operations

In [206]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[2]")

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/3509500929.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[2]")

In [207]:
refinery_operations = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

In [208]:
refinery_operations.drop(['Unnamed: 5','Unnamed: 6','Unnamed: 0'],axis=1,inplace=True)
refinery_operations.drop([6,7],axis=0,inplace=True)
refinery_operations = refinery_operations.rename(columns={'Unnamed: 1': 'Quantities',\
                        'Current Week02/Jan/2022-08/Jan': 'Current Week 02/Jan/2022-08/Jan',\
                        'Last Week26/Dec/2021-01/Jan': 'Last Week 26/Dec/2021-01/Jan'})

In [209]:
refinery_operations.fillna('', inplace=True)

In [210]:
refinery_operations.to_csv('refinery_operations.csv',index=False)

In [211]:
refinery_operations

,Quantities,Current Week 02/Jan/2022-08/Jan,Last Week 26/Dec/2021-01/Jan,Change from Last Week
0,Crude Input(KL),3231537,3241896,-10359.0
1,Topper Unit Capacity,,,
2,Weekly Average Capacity(BPSD),3422700,3422700,0.0
3,Util. Rate against BPSD,84.8%,85.1%,
4,Designed Capacity(BPCD),3457800,3457800,0.0
5,Util. Rate against BPCD,84.0%,84.2%,

## 2.Products Stocks

In [160]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[3]")
products_stocks = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/916477609.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[3]")

In [161]:
products_stocks.fillna('',inplace=True)
products_stocks = products_stocks.rename(columns={'Unnamed: 0': 'Products','Unnamed: 1': 'Characteristics',\
                        'Current Week02/Jan/2022-08/Jan': 'Current Week 02/Jan/2022-08/Jan',\
                        'Last Week26/Dec/2021-01/Jan': 'Last Week 26/Dec/2021-01/Jan'})
products_stocks['Products'] = products_stocks['Products'] + ' (kl)'

In [163]:
products_stocks.to_csv('products_stocks.csv',index=False)

In [195]:
products_stocks.style.set_properties(**{'text-align': 'center'})

## 3.Crude, Unfinished Oil and Feed Stocks

In [164]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[4]")
crude_oil = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/1168376118.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[4]")

In [165]:
crude_oil = crude_oil.rename(columns={'Unnamed: 0': 'Materials',\
                        'Current Week02/Jan/2022-08/Jan': 'Current Week 02/Jan/2022-08/Jan',\
                        'Last Week26/Dec/2021-01/Jan': 'Last Week 26/Dec/2021-01/Jan'})
crude_oil['Materials'] = crude_oil['Materials'] + ' (kl)'

In [167]:
crude_oil.to_csv('crude_oil.csv',index=False)

In [194]:
crude_oil

,Materials,Current Week 02/Jan/2022-08/Jan,Last Week 26/Dec/2021-01/Jan,Change from Last Week
0,Crude Oil (kl),8957728,9219435,-261707
1,Unfinished Gasoline (kl),2211584,2150215,61369
2,Unfinished Kerosene (kl),463069,432746,30323
3,Unfinished Gas Oil (kl),911900,864323,47577
4,Unfinished AFO (kl),698385,669524,28861
5,Feed Stocks (kl),2902572,2886164,16408
6,Total (kl),7187510,7002972,184538

## 4.Refinery Production

In [168]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[5]")
refinery_production = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/961327901.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[5]")

In [169]:
refinery_production = refinery_production.rename(columns={'Unnamed: 0': 'Products','Unnamed: 1': 'Characteristics',\
                        'Current Week02/Jan/2022-08/Jan': 'Current Week 02/Jan/2022-08/Jan',\
                        'Last Week26/Dec/2021-01/Jan': 'Last Week 26/Dec/2021-01/Jan'})
refinery_production['Products'] = refinery_production['Products'] + ' (kl)'

In [170]:
refinery_production.fillna('',inplace=True)

In [172]:
refinery_production.to_csv('refinery_production.csv',index=False)

In [193]:
refinery_production

,Products,Characteristics,Current Week 02/Jan/2022-08/Jan,Last Week 26/Dec/2021-01/Jan,Change from Last Week
0,Gasoline (kl),,934924,965131,-30207
1,Naphtha (kl),,357264,237643,119621
2,Jet (kl),,114249,166599,-52350
3,Kerosene (kl),,457687,347108,110579
4,Gas Oil(Diesel) (kl),,685574,688134,-2560
5,LSA (kl),Sul under 0.1%,112171,96300,15871
6,HSA (kl),Sul over 0.1%,102082,112989,-10907
7,AFO (kl),,214253,209289,4964
8,LSC (kl),Sul under 0.5%,110646,122516,-11870
9,HSC (kl),Sul over 0.5%,165878,120087,45791
10,CFO (kl),,276524,242603,33921
11,Total (kl),,3040475,2856507,183968

## 5.Imports

In [173]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[6]")
imports = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/176732812.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[6]")

In [174]:
imports = imports.rename(columns={'Unnamed: 0': 'Products','Unnamed: 1': 'Characteristics',\
                        'Current Week02/Jan/2022-08/Jan': 'Current Week 02/Jan/2022-08/Jan',\
                        'Last Week26/Dec/2021-01/Jan': 'Last Week 26/Dec/2021-01/Jan'})
imports['Products'] = imports['Products'] + ' (kl)'

In [175]:
imports.fillna('',inplace=True)

In [176]:
imports.replace('n.a.','Missing',inplace=True)

In [178]:
imports.to_csv('imports.csv',index=False)

In [192]:
imports

,Products,Characteristics,Current Week 02/Jan/2022-08/Jan,Last Week 26/Dec/2021-01/Jan,Change from Last Week
0,Gasoline (kl),,Missing,Missing,Missing
1,Naphtha (kl),,Missing,Missing,Missing
2,Jet (kl),,Missing,Missing,Missing
3,Kerosene (kl),,Missing,Missing,Missing
4,Gas Oil(Diesel) (kl),,Missing,Missing,Missing
5,LSA (kl),Sul under 0.1%,Missing,Missing,Missing
6,HSA (kl),Sul over 0.1%,Missing,Missing,Missing
7,AFO (kl),,Missing,Missing,Missing
8,LSC (kl),Sul under 0.5%,33483,4502,28981
9,HSC (kl),Sul over 0.5%,48829,36242,12587
10,CFO (kl),,82312,40744,41568
11,Total (kl),,Missing,Missing,Missing

## 6.Exports

In [179]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[7]")
exports = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/2328492393.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[7]")

In [180]:
exports = exports.rename(columns={'Unnamed: 0': 'Products','Unnamed: 1': 'Characteristics',\
                        'Current Week02/Jan/2022-08/Jan': 'Current Week 02/Jan/2022-08/Jan',\
                        'Last Week26/Dec/2021-01/Jan': 'Last Week 26/Dec/2021-01/Jan'})
exports['Products'] = exports['Products'] + ' (kl)'

In [181]:
exports.fillna('',inplace=True)

In [183]:
exports.to_csv('exports.csv',index=False)

In [190]:
exports

,Products,Characteristics,Current Week 02/Jan/2022-08/Jan,Last Week 26/Dec/2021-01/Jan,Change from Last Week
0,Gasoline (kl),,127826,80724,47102
1,Naphtha (kl),,0,0,0
2,Jet (kl),,79223,109418,-30195
3,Kerosene (kl),,49266,0,49266
4,Gas Oil(Diesel) (kl),,107327,246598,-139271
5,LSA (kl),Sul under 0.1%,0,402,-402
6,HSA (kl),Sul over 0.1%,0,0,0
7,AFO (kl),,0,402,-402
8,LSC (kl),Sul under 0.5%,59559,21535,38024
9,HSC (kl),Sul over 0.5%,44373,53349,-8976
10,CFO (kl),,103932,74884,29048
11,Total (kl),,467574,512026,-44452

## References

In [184]:
target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[8]")
references = pd.read_html(target[0].get_attribute('outerHTML'),header=0)[0]

C:\Users\Kapa\AppData\Local\Temp/ipykernel_6484/1364444751.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  target = driver.find_elements_by_xpath("(//TABLE[@cellpadding='5'])[8]")

In [185]:
references = references.rename(columns={'Unnamed: 0': 'Products','Average ImportsDec-Feb':'Average Imports Dec-Feb'})
references['Products'] = references['Products'] + ' (kl)'

In [186]:
references.drop('Unnamed: 1',axis=1,inplace=True)

In [187]:
references.replace('n.a.','Missing',inplace=True)

In [189]:
references

               Products Average Imports Dec-Feb
0         Gasoline (kl)                   37965
1          Naphtha (kl)                  540309
2              Jet (kl)                    6935
3         Kerosene (kl)                  102604
4  Gas Oil(Diesel) (kl)                   22066
5              AFO (kl)                    1746
6              CFO (kl)                 Missing

In [191]:
references.to_csv('references.csv',index=False)